<html lang="en" dir="ltr" ng-app="votaU">
  <head>
    <meta charset="utf-8">
    <title>Votar</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js">

    </script>
    <script src="https://code.angularjs.org/1.7.9/angular-route.min.js"></script>
    <script src="js/app.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>
  <body ng-controller="voto">
	<div class="row">
		<h1 class="col-md-12 text-center" style="background-color: #A01BC4; padding: 20px; color: #FFF">Urna del dia</h1>
	</div>	
	<div class="container">
		<h2>{{UrnaDelDia}}</h2>
		<hr ng-hide="listaVotos">
		<ul class="unstyled" ng-show="mostrarLista">
			<li class="alert alert-light" role="alert" ng-repeat="opcion in OpcionesUrna" ng-click="tomarDato(opcion)">
				<span>{{opcion.nombre}}</span>
			</li>
		</ul>
		<hr ng-hide="listaVotos">
		<div ng-hide="mostrarLista">
		<input type="text" placeholder="usuario" ng-model="usuarioVoto">
		<button class="btn btn-dark" ng-click="ingresar()" >Participar</button>
		</div>
		<div ng-show="listaVotos">
		<input type="number" placeholder="#Voto" ng-model="votoAnular">
		<button  class="btn btn-danger" ng-click="anularVoto(votoAnular)">Anular</button>
		</div>
		<table class="table table-sm" ng-show="listaVotos">
  		<thead>
    		<tr>
      			<th scope="col">#Voto</th>
      			<th scope="col">Nombre</th>
      			<th scope="col">Opcion</th>
      			<th scope="col">Voto</th>
    		</tr>
  		</thead>
  		<tbody>
    		<tr ng-repeat="voto in votos">
      			<th scope="row">{{voto.numero}}</th>
      			<td>{{voto.usuario}}</td>
     		 	<td>{{voto.eleccion}}</td>
     		 	<td>{{voto.h}}</td>
   			 </tr>
  		</tbody>
	</table>
	</div>
	
  </body>
</html>